main {
  height: 498px;
  padding: 50px 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 50%;
  padding: 15px 10px;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 5px 10px 1px var(--gray-700);
}

form label {
  display: inline-block;
  height: 23px;
  font-size: 20px;
  font-weight: bold;
}

form input[type='text'],
input[type='email'],
input[type='tel'] {
  width: 70%;
  padding: 0;
  border: none;
  border-bottom: 2px dashed #000;
  font-size: 18px;
  color: var(--gray-700);
}

textarea {
  resize: none;
  width: 51.5%;
  height: 21px;
  padding: 15px 0;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 5px 10px 1px var(--gray-700);

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--gray-700);
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='tel']::placeholder,
textarea::placeholder {
  font-size: 14px;
  color: var(--gray-200);
}
legend {
  font-weight: bold;
  font-size: 20px;
}
select {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 18px;
  color: var(--gray-700);
}

input[type='submit'] {
  cursor: pointer;
  background-color: var(--white-100);

  width: 52.5%;
  height: 57px;
  padding: 15px 10px;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 5px 10px 1px var(--gray-700);

  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
  color: var(--gray-800);

  transition: all 0.15s;
}

input[type='submit']:hover {
  background-color: #fff;
  border-color: var(--yellow-800);
  box-shadow: 0 5px 10px 1px var(--yellow-800);

  font-size: 22px;
  letter-spacing: 3px;
  color: var(--yellow-800);
}

input[type='submit']:active {
  background-color: #fff;
  border-color: var(--green-200);
  box-shadow: 0 5px 10px 1px var(--green-200);

  font-size: 22px;
  letter-spacing: 3px;
  color: var(--green-200);
  transform: scale(0.95);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--yellow-800) !important;
}
