.products {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.products li {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 30px 20px;
  margin: 0 1.5%;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 10px 3px #ccc;
}

.products li:hover {
  border-color: #b8860b;
}
.products li:active {
  border-color: #556b2f;
}

.products h2 {
  margin-bottom: 10px;
  line-height: 28px;
  font-size: 24px;
  font-weight: bold;
}

.products li:hover h2 {
  font-size: 28px;
}

.products-description {
  font-size: 18px;
  line-height: 22px;
  margin: 16.5px 0;
}

.products-price {
  font-weight: bold;
  font-size: 22px;
}
