.banner {
  width: 100%;
}

banner {
  width: 100%;
}

main {
  margin: -20px auto;
  width: 100%;
  background-color: #fefefe;
}

.main-content {
  width: 940px;
  margin: 0px auto;
  padding: 3em 0;
}

.main-title {
  text-align: center;
  font-size: 2em;
  margin: 1em 0;
}

.main p {
  margin: 1em 0;
}

.main strong {
  font-weight: bold;
}

.main em {
  font-style: italic;
}

.tools {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.embed-map {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888);
  text-align: center;
}

.map {
  margin: 0 auto;
  width: 940px;
}

.centered-title {
  text-align: center;
  font-size: 1.75em;
  margin: 1em 0;
  clear: left;
}

.benefits {
  padding: 3em 0;
  background-color: #888;
}

.benefits-container {
  width: 640px;
  margin: 0 auto;
}

.benefits-list {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.benefit-item {
  line-height: 1.5;
}

.benefit-item:before {
  content: '★';
  margin-right: 5px;
}

.benefit-item:first-child {
  font-weight: bold;
}

.benefits-image {
  width: 60%;
}

.embed-video {
  width: 560px;
  margin: 2em auto;
}
