html {
  font-family: 'Arvo', serif;
  max-height: 100vh;
}

.header-container {
  background-color: #ccc;
  padding: 10px 0;
}

.header-content {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.header-content img {
  height: 150px;
}

.header-content nav {
  position: absolute;
  top: 135px;
  right: 0;
}

.header-content li {
  display: inline;
  margin-left: 5px;
}

.header-content nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: #000;
}

.header-content nav a:hover {
  color: #c78c19;
}

footer {
  background: url('/media/images/bg.jpg');
  text-align: center;
  padding: 10px 0;
}

footer img {
  height: 125px;
}
.copyright {
  color: white;
  font-size: 13px;
  margin-top: 5px;
}
